<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>sit.int303.demo.filter.AuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/member/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <servlet-name>SearchCustomerServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <servlet-name>CheckoutServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>sit.int303.demo.filter.InitialContext</listener-class>
    </listener>
    <servlet>
        <servlet-name>HiLowServlet</servlet-name>
        <servlet-class>sit.int303.demo.controller.HiLowServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MultiplicationServlet</servlet-name>
        <servlet-class>sit.int303.demo.controller.MultiplicationServlet</servlet-class>
        <init-param>
            <param-name>defaultNumber</param-name>
            <param-value>13</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>ListPokemonServlet</servlet-name>
        <servlet-class>sit.int303.demo.controller.ListPokemonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EchoServlet</servlet-name>
        <servlet-class>sit.int303.demo.controller.EchoServlet</servlet-class>
        <init-param>
            <param-name>foreground</param-name>
            <param-value>white</param-value>
        </init-param>
        <init-param>
            <param-name>background</param-name>
            <param-value>red</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>FindPrimeNumberServlet</servlet-name>
        <servlet-class>sit.int303.demo.controller.FindPrimeNumberServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestRequestHeader</servlet-name>
        <servlet-class>sit.int303.demo.controller.TestRequestHeader</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchCustomerServlet</servlet-name>
        <servlet-class>sit.int303.demo.controller.SearchCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Page1Servlet</servlet-name>
        <servlet-class>sit.int303.demo.controller.Page1Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Page2Servlet</servlet-name>
        <servlet-class>sit.int303.demo.controller.Page2Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Page3Servlet</servlet-name>
        <servlet-class>sit.int303.demo.controller.Page3Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Page4Servlet</servlet-name>
        <servlet-class>sit.int303.demo.controller.Page4Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>sit.int303.demo.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>sit.int303.demo.controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchProductServlet</servlet-name>
        <servlet-class>sit.int303.demo.controller.SearchProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>sit.int303.demo.controller.AddToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCartServlet</servlet-name>
        <servlet-class>sit.int303.demo.controller.UpdateCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutServlet</servlet-name>
        <servlet-class>sit.int303.demo.controller.CheckoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HiLowServlet</servlet-name>
        <url-pattern>/HiLow</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MultiplicationServlet</servlet-name>
        <url-pattern>/mt</url-pattern>
        <url-pattern>/MT</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EchoServlet</servlet-name>
        <url-pattern>/Echo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindPrimeNumberServlet</servlet-name>
        <url-pattern>/isPrime</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListPokemonServlet</servlet-name>
        <url-pattern>/SearchPokemon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestRequestHeader</servlet-name>
        <url-pattern>/TestHeader</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchCustomerServlet</servlet-name>
        <url-pattern>/SearchCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchProductServlet</servlet-name>
        <url-pattern>/SearchProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/AddToCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Page2Servlet</servlet-name>
        <url-pattern>/member/Page2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Page3Servlet</servlet-name>
        <url-pattern>/member/Page3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Page4Servlet</servlet-name>
        <url-pattern>/member/Page4</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Page1Servlet</servlet-name>
        <url-pattern>/member/Page1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCartServlet</servlet-name>
        <url-pattern>/UpdateCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutServlet</servlet-name>
        <url-pattern>/ProcessOrder</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
